.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  width: 100vw;
}

.slider-img {
  width: 100%;
  height: 500px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: var(--clr-font-1);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: var(--clr-font-1);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition: all 2s ease;
}

.active {
  opacity: 1;
  transition: all 2s ease;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 38%;
  z-index: 20;
  color: var(--clr-font);
  text-shadow: 1px 0px 10px var(--clr-font);
}

@media screen and (max-width: 800px) {
  .slider {
    height: 300px;
  }

  .slider-img {
    height: 300px;
  }

  .slider-text {
    display: none;
  }
}
