.dark-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100vw;
  background: linear-gradient(
    315deg,
    hsla(273, 100%, 5%, 1) 0%,
    hsla(309, 59%, 7%, 1) 50%,
    hsla(281, 80%, 4%, 1) 100%
  );
}

.container-in-card {
  background-color: transparent;
  height: 600px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

@media screen and (max-width: 800px) {
  .container-in-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
  }

  .dark-container {
    height: 500px;
  }
}
